<div class="progress-bar-wrap">
	<div class="progress-bar-1"></div>
	<div class="progress-bar-2"></div>
	<div class="progress-bar-3"></div>
	<div class="progress-bar-4"></div>
	<div class="progress-bar-5"></div>
</div>

<video id="bgvid">
<source src="http://g-ec2.images-amazon.com/images/G/01/acs/ux/hsb/HSB_Background_Movie._V304879804_.mov" type="video/mp4">
</video>

<script>
$(document).ready(function() {
	$("#bgvid").click(function() {
		console.log("clic");
		this.play();
		$(".progress-bar-wrap").addClass("start");
	});
});
</script>